<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/main.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- navbar START -->
    <%- include('nav.html') %>
    <!-- navbar  END -->
    <div class="container">
      <h4 class="ml-2 my-3 text-center">서버에서 가져온 할 일 리스트</h4>

      <!-- 검색기능 POST 방법-->
      <!-- <form action="/search" method="POST">
        <div class="container input-group mb-2">
          <input type="text" class="form-control" name="title" />
          <button class="input-group-append btn btn-danger">검색</button>
        </div>
      </form> -->
      <!-- 검색기능 GET 방법-->
      <div class="container input-group mb-2">
        <input type="text" class="form-control" id="search-input" />
        <button class="input-group-append btn btn-danger" id="search">
          검색
        </button>
      </div>
      <script>
        $("#search").click(function () {
          var 입력한값 = $("#search-input").val();
          //윈도우주소창의 url 을 바꿔달라는 함수. ( GET 요청! )
          window.location.replace("/search?value=" + 입력한값);
        });
      </script>

      <ul class="list-group list-group">
        <% for(var i=0; i < posts.length; i++) { %>
        <li class="list-group-item my">
          <h4>
            <a href="/detail/<%=posts[i]._id %>"
              >할일 제목 : <%=posts[i].제목 %></a
            >
          </h4>
          <p>할일 기한 : <%=posts[i].날짜 %></p>
          <button data-id="<%=posts[i]._id %>" class="btn btn-danger delete">
            삭제
          </button>
        </li>
        <%} %>
      </ul>
    </div>

    <script>
      $(".delete").click(function (e) {
        var 글번호 = e.target.dataset.id;
        var 지금누른버튼 = $(this);
        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: 글번호 },
        })
          .done(function (result) {
            //서버에서 코드200을 보낼때 (성공햇을 때)
            console.log("성공햇어염");
            //삭제한걸 안보이게 처리!
            //삭제버튼을 누른 <li> 요소를 제거/안보이게.
            지금누른버튼.parent("li").fadeOut();
          })
          .fail(function (xhr, textStatus, errorThrown) {
            //textStatus : 응답코드
            //errorThrown : 에러메세지
            //요청이 실패했을 때 실행할 코드
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>

    <!-- 코드 입력부분 END -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
